<section class="about-page">

  <div class="about-content">

    <h1>About Me</h1>

    <img class="about-image" src="/images/m3.jpg" alt="Portrait of Marcellino Modesto">

    <section class="about-section">
      <h2>My Story</h2>

      <p>
        My name is Marcellino Modesto, and I am currently 23 years old. I've lived in Sparks, Nevada
        my entire life, this is home and will always be home.
        I've grown up playing video games, and I still do till this day.
        It wasn't until I started playing web based games using Adobe Flash (When it was
        still alive) that I started questioning not only how video games are created,
        but how the internet and everything involving the web worked. I tried my
        hardest at a young age to understand.
        <br><br>
        Starting in elementary, I vividly remember using code.org. My first introduction.
        Then, during middle school I took a robotics course. I remember we would have to build the robot and then
        program it to follow a line or move in a certain direction. I loved it and wanted more,
        I was getting closer to understanding. Then in highschool, my opportunity presented itself
        in the form of an electives class that was being offered. Web Design I.


      </p>
    </section>

    <section class="about-section">
      <h2>My Journey</h2>

      <p>
        Starting web design was fascinating and was like nothing I've ever learned before. I was taught the basics using
        Adobe
        Dreamweaver. Html and CSS was all we went over, with a very tiny amount of JavaScript. For the next three years,
        I took Web Design until I completed the final course. I was a junior when I finished, and it was also the last
        year the class
        was being offered at the school. I realized by that final year that this is what I wanted to pursue a career in.
        <br><br>
        By time I graduated high school, I was offered basically a full-ride scholarship for whatever I wanted to do.
        Immediately after graduation, I enrolled at Truckee Meadows Community College (TMCC) and started pursuing my
        associates
        degree in Web Development. There I learned how to use the CLI, Linux, JavaScript, Project Management, Networking
        essentials,
        understanding the components of a computer, and much more. I graduated in 2025 with my associates in Web
        Development,
        and decided to go even further and work towards my bachelors. As of now, I am currently enrolled at Bellevue
        University,
        working towards getting my bachelors degree in May of 2027.
      </p>

    </section>

    <section class="about-section">
      <h2>My Passion</h2>

      <p>
        I enjoy web development and learning how everything connects. From the front-end of development to the back-end,
        I love watching it work together and see it connect like puzzle pieces. Granted, its not as easy as doing a
        puzzle, but
        the satisfaction is still there. My goal is to continue to hone my skills, learning current and future
        technology, and
        eventually build my career as a Full Stack Web Developer.


      </p>
    </section>

  </div>

</section>
