<section class="hero">
  <div class="hero-content">
    <h1>Welcome!</h1>

    <p>
      Hello, welcome to my Portfolio! My name is <b>Marcellino</b>. I am
      currently a student at Bellevue University, and am working towards becoming a
      Full Stack Web Developer!
      <b>To the left</b> are some of the technologies I'm currently learning and working with.
       If you're interested in checking out some of my work, click the button below.
    </p>

    <a class="projects-button" routerLink="/projects">
      My Projects!
    </a>
  </div>


 <div class="tech-bento">

  <div class="tech-box angular">
    <img src="/images/angular_gradient.png" alt="Angular logo">
    <h3>Angular</h3>

  </div>

  <div class="tech-box css">
    <img src="/images/csslogo.webp" alt="CSS logo">
    <h3>CSS</h3>
  </div>

  <div class="tech-box html">
    <img src="/images/htmllogo.webp" alt="HTML logo">
    <h3>HTML</h3>
  </div>

  <div class="tech-box node">
    <img src="/images/node.svg" alt="Node.js logo">
    <h3>Node.js</h3>
  </div>

</div>

</section>

<section class="bucket-list">
  <div class="bucket-intro">
    <h2>My Bucket List!</h2>

    <p>
      Here is a list of some of my personal and career goals!
    </p>
  </div>

  <ul>
    <li>Visit Iceland.</li>
    <li>Own a 2006 Dodge Viper SRT-10 or a 2005 Dodge Ram SRT-10.</li>
    <li>Own a Harley Breakout 117.</li>
    <li>Obtain my bachelors degree in Web Development.</li>
    <li>Become a Full Stack Web Developer at Google, Microsoft, or Amazon.</li>
  </ul>
</section>
