<section class="hero">
  <div class="hero-content">
    <h1>Welcome!</h1>

    <p>
      Hello, welcome to my Portfolio! My name is Marcellino. I am
      currently a student at Bellevue University, and am working towards becoming a
      Full Stack Web Developer! If you're interested in checking out some of my work, click the button below.
    </p>

    <a class="projects-button" routerLink="/projects">
      My Projects!
    </a>
  </div>

  <div class="hero-image">
    <img Src="/images/m1.jpg" width="411px" height="552px" alt="Home photo of Marcellino">
  </div>
</section>

<section class="bucket-list">
  <div class="bucket-intro">
    <h2>My Bucket List</h2>

    <p>
      Here is a list of some of my personal and career goals!
    </p>
  </div>

  <ul>
    <li>Visit Iceland.</li>
    <li>Own a 2006 Dodge Viper SRT-10 or a 2005 Dodge Ram SRT-10.</li>
    <li>Become a Full Stack Web Developer at Google or Amazon.</li>
  </ul>
</section>
