<section class="resume-page">

  <aside class="resume-sidebar">

    <img class="profile-image" src="/images/m1.jpg" alt="Portrait of Marcellino Modesto">

    <h1>Marcellino Modesto</h1>

    <p class="job-title">Student / Web Developer</p>

    <div class="contact-info">
      <p>Sparks, Nevada</p>
      <a href="tel:+7753008054">775-300-8054</a>
      <a href="https://mail.google.com/mail/?view=cm&fs=1&to=marcellinomodesto@gmail.com"
        aria-label="Email">Marcellinomodesto@gmail.com</a>
    </div>

  </aside>


  <div class="resume-content">

    <section class="resume-section">
      <h2>Education</h2>

      <div class="education-item">
        <h3>Truckee Meadows Community College</h3>
        <p>2021 - 2025</p>
        <p>Associates Degree in Web Development</p>
        <p>TestOut PC Pro Certification:</p>
        <div class="view-button">
          <a href="Certificate.pdf" target="_blank"> View Certificate</a>
        </div>
      </div>

      <div class="education-item">
        <h3>Bellevue University</h3>
        <p>2025 - 2027</p>
        <p>Bachelors Degree in Web Development</p>
        <p>Expected Graduation May 2027</p>
      </div>
    </section>

    <section class="resume-section">
      <h2>Skills</h2>

      <div class="skills-grid">
        <ul>
          <li>HTML</li>
          <li>CSS</li>
          <li>JavaScript</li>
        </ul>

        <ul>
          <li>CLI</li>
          <li>Node</li>
          <li>Angular</li>
        </ul>

        <ul>
          <li>Git</li>
          <li>PC Hardware & Assembly</li>
          <li>PC Security Basics</li>
        </ul>

        <ul>
          <li>Hardware & Software Troubleshooting</li>
          <li>Windows Operating Systems</li>
        </ul>

        <ul>
          <li>Basic Networking & Printers</li>
        </ul>
      </div>
    </section>

    <section class="resume-section projects-section">
      <h2>Projects</h2>

      <div class="projects-button-container">
        <a class="projects-button" routerLink="/projects">
          My Projects!
        </a>
      </div>
    </section>

  </div>

</section>
